[2021-07-09 08:24] Sauceke opened #2 "Warning messages"
Warn if
- ws connection failed
- no device connected
- device not linear

[2021-07-09 08:27] Sauceke opened #3 "Sync to every animation"

[2021-07-09 08:28] Sauceke opened #4 "Add latency option"

[2021-07-09 23:39] #3 closed, assigned to nobody

[2021-07-11 19:15] #2 closed, assigned to nobody

[2021-07-11 23:58] #4 closed, assigned to nobody

[2021-07-15 15:10] Sauceke opened #13 "Handle multiple devices and features"

[2021-07-15 15:40] #13 closed, assigned to Sauceke

[2021-07-15 21:05] erodozer opened #16 "Extract Animation Phase timings to external file"
Currently Animation phases for strokers are hard coded in the ButtplugController.cs file.  Extracting this into an external file such as an XML or JSON to be included with the plugin would allow for tweaking without having to compile, as well as lower the barrier for entry of having people contribute and test timings.  This can be particularly helpful for expanding the list of supported animations

[2021-07-16 13:07] programotter opened #17 "Suggestion: use velocity * depth for vibration strength, instead of just velocity"
This gives a feeling of rhythm to vibration output, rather than just going brrrrrrrr all the time :)

I suggest velocity should be a range [0, 1], so that at no penetration it gives an output strength of 0, and at maximum depth it gives the same vibration strength as before.

[2021-07-16 14:09] Sauceke commented on #17
For the record this was [the first use case of Buttplug+KK they talked about](https://discord.com/channels/447114928785063977/476358846764548137/715155243830345778) on discord.

I've never used one of them vibrating thingies, so I can't judge if this is any better than a flat line. But it sounds interesting. I'm happy with this as long as the constant output version stays selectable in the config.

[2021-07-16 14:17] Sauceke commented on #16
Agreed, though these values are not expected to change unless they were incorrectly measured in the first place.
But there are a lot of mods that add custom poses, and syncing all of them would be a massive pain. Letting the player tweak them is better than nothing.

[2021-07-16 14:36] erodozer commented on #17
I'll be happy to take this one

[2021-07-16 18:34] Syunica opened #19 "Other Illusion Games Compatible?"
Can i use this with HS1/HS2 aswell? Just curious because there is no other plugin for HS2.. #

[2021-07-16 19:05] Sauceke commented on #19
No, for hs2 it has to be written from scratch. I might give it a try when I have really much time to waste and/or feel extremely masochistic. Well, at least the interfacing part would be easier as hs2 is .net4.6, so it's compatible with the buttplug FFI for C#. Much easier than the websocket stuff we're doing in this .net3.5 fossil of a game. You could even start a buttplug server from HS2 no prob

[2021-07-16 19:51] Sauceke commented on #19
Closing in absence of action items.

[2021-07-17 10:11] #16 closed, assigned to Sauceke

[2021-07-18 18:56] #17 closed, assigned to erodozer

[2021-07-18 22:31] Sauceke opened #24 "v1.2.0 checklist"
- [x] Acceptably accurate syncing for every Receive and Masturbation animation
- [x] Feature freeze
- [x] Update readme
  - [x] new features and settings
  - [x] installation
  - [x] full list of supported devices
- [x] Bump plugin version in code (forgot this last time)
- [x] QA testing
  - [x] have fun
  - [x] have fun with 2 devices
  - [x] check vibration
- [x] ~~Find a script to auto generate

[2021-07-20 09:56] Sauceke opened #26 "Confirm vibration functional for release"
The most important change since 1.1.0 is the addition of vibration support, because there are only 11 automatic strokers supported by Buttplug and over 150 vibrators. This makes the mod accessible to a lot more players, hopefully.

It is also the only part of the codebase I can't test. So I want to make sure I haven't fubar'ed anything important in there. I have tested the stroking functionality o

[2021-07-20 21:11] Sauceke commented on #26
Never mind - made myself useful and made a simple intensity visualizer using this very neat lib I found that emulates Xbox controllers and supports rumble data: https://github.com/mogzol/ScpDriverInterface
I can confirm that vibration works flawlessly with Standard, Masturbation and Group scenes. I can also confirm it works in VR. Both sync and constant modes seem to work as intended. Male/Female/

[2021-07-20 21:58] #26 closed, assigned to erodozer

[2021-07-20 22:23] erodozer commented on #26
Ah I'll be honest I added lesbian mode but completely forgot to actually test any animations and inspect them with BepinRuntimeInspector to see how values were changing.  If you want to hold on I can do that, or we can just do a patch release 1.2.1 once I figure it out

[2021-07-20 22:33] Sauceke commented on #26
Then how about we ship both vibe and stroke support for lesbian in the same patch? They will share most of the logic anyway.
ButtPlugin Lesbian Patch. Has a ring to it.

[2021-07-21 03:34] erodozer commented on #26
I realize why this is probably the case.  Since the intensity is just a half length Sin function, peak is reached halfway into the cycle.  Since the timing was adjusted using the stroker animation phases, what I didn't realize at the time is those phases are timed relative to the stroke up motion.  This means sin 0 is actually at the bottom of the stroke motion when it should be most intense.  Thi

[2021-07-21 19:48] Sauceke commented on #24
🥳

[2021-07-21 19:48] #24 closed, assigned to Sauceke

[2021-07-24 10:57] Sauceke opened #30 "Support lesbian scenes"
Vibrators + strokers

[2021-07-24 11:03] Sauceke opened #31 "Fix latency stutter"
When latency set to positive, gradually slowing down the animation results in some jitter because the latency is converted to normalized time using speed and this is only reliable if the speed doesn't change all over the place.

[2021-07-24 11:03] Sauceke opened #32 "Add latency setting for vibration"

[2021-07-24 11:05] Sauceke opened #33 "Save device settings"
So that we can have threesomes in VR

[2021-07-24 11:08] Sauceke opened #34 "Add support for aibu"
* Setting to map body parts to devices
* Figure out a way to smooth out the choppy movement for strokers
* Port to vibrators

[2021-07-24 11:11] Sauceke opened #35 "Estimate stroke length procedurally"

[2021-07-27 20:33] Sauceke commented on #19
Reopening because I feel extremely masochistic.

[2021-07-28 11:55] Sauceke opened #39 "Make minimum stroke range player definable"
As the device approaches MaxStrokesPerMinute, the stroke length decreases steadily to 70% as per the current impl.

Player should be able to change this percentage and decide where the lowest point should be.

[2021-07-28 11:56] #19 closed, assigned to Sauceke

[2021-07-29 20:30] Sauceke opened #45 "v2.0.0 checklist"
The scope of the project has changed and the name has to change too, so this will be a major release.

- [x] #46
- [x] #48
- [x] Feature freeze
- [x] Bump assembly version
- [x] Update release job
  - [x] Put output for each game into its own zip
- [x] QA Testing
  - [x] KK (stroker, vibe)
  - [x] HS2 (stroker, vibe)
- [x] Update readme
  - [x] HS2 support
  - [x] new syncing method and its quirks

[2021-07-29 20:31] Sauceke opened #46 "HS2 idle and oloop detection"

[2021-07-30 07:19] Sauceke opened #48 "Fix coroutine hanging in HS2 VR"

[2021-07-30 07:19] #46 closed, assigned to nobody

[2021-07-30 08:22] #48 closed, assigned to nobody

[2021-07-30 15:42] Sauceke commented on #45
🥳

[2021-07-30 15:42] #45 closed, assigned to nobody

[2021-07-31 20:24] madaoden opened #50 "Can you support devices rotate ?"
[Warning:ButtPlugin] Websocket error: You must send data by websocket after websocket is opened!
[Message:ButtPlugin] Warning: No devices connected to Buttplug.
[Warning:ButtPlugin] Buttplug error: {"Error":{"Id":1622452820,"ErrorCode":4,"ErrorMessage":"{\"ButtplugDeviceError\":\"DeviceScanningAlreadyStarted\"}"}}
[Message:ButtPlugin] Warning: device "Vorze A10 Cyclone SA" not supported.

I hope y

[2021-08-04 10:30] laueno2 opened #52 "Possible to support OSR2+ and OSR6?"
Hi, just curious if there is plan in the future to support OSR2+ and OSR6 (6DoF)?
https://www.patreon.com/tempestvr/posts

Thank you very much creating this!

[2021-08-04 11:46] Sauceke commented on #52
Hi, this mod doesn't interface with devices. Please ask either the developer of the device or the developers of [Buttplug](https://github.com/buttplugio/buttplug) to add Buttplug protocol support for the device.

[2021-08-04 11:55] #52 closed, assigned to nobody

[2021-08-05 17:34] #39 closed, assigned to nobody

[2021-08-07 11:16] Sauceke commented on #35
implemented it and it wasn't fun

[2021-08-07 11:16] #35 closed, assigned to nobody

[2021-08-20 21:48] RepairUnit3k6 opened #57 "Lovense Max 2 : Support air pump"
Lovense max 2 have air pump that makes toy more tight or loose on the fly. I was wondering if is possible to add this support, make it tighter the deeper are....._characters inside each other_...Theoretically you could reuse information used for strokers, just instead of stroking it would get tighter

[2021-08-21 00:31] Sauceke commented on #57
Depends on buttplugio/buttplug#337
Possible workaround: raw device messages.
@nhydock, you already have this device. If you're interested in adding this, I won't hold you back. Otherwise I'll mark it as blocked.

[2021-08-21 17:18] erodozer commented on #57
I've never been able to see the air pump in a max work nearly as responsively as a stroker, at least based on lovense's apps.  It takes time to pump, and even then it's used for simulating contractions and general pressure with a level setting that's more like vibrator intensity than a stroker position.

I don't think you'd get that good of an experience tying it to animation position as opposed t

[2021-08-21 23:01] Sauceke commented on #57
@RepairUnit3k6, @nhydock would either of you want a feature like that?
Looked at the Lovense API. Seems the syntax is just "Air:Level:x;" where x is between 0 and 5 (exclusive?)
Sending that as a payload to RawWriteCmd should work.
https://lovesense-py.readthedocs.io/en/latest/protocol.html

[2021-08-23 08:30] #34 closed, assigned to Sauceke

[2021-08-24 06:36] RepairUnit3k6 commented on #57
Nhydock is right in fact it isnt as quick but having some way game affect it would be neat....Lemme think. Considering it isnt as responsive it propably would be better to get tighter and tighter with excitement level, with reset to 0 at climax. That should work better since excitement does not rises as fast so it should have plenty of time to pump

[2021-08-24 06:41] RepairUnit3k6 commented on #57
Aftertought. Set it to max at climax and then loosen up over time . That would propably reflect better to how girls rect in game where they climax and then longer pause they rest a bit

[2021-08-24 18:05] #33 closed, assigned to Sauceke

[2021-09-20 13:23] Sauceke opened #64 "Support motion blending"
Motion blending is currently disabled by default, though theoretically we could calibrate for motion=0 and motion=1 and interpolate animation offset for values in-between. Needs more research.

[2021-10-20 23:49] BugMonkey42335 opened #66 "Is OSR2 supported?"
I'm uncertain if I'm doing something wrong or if Intiface Desktop isn't detecting things.

[2021-10-21 00:50] Sauceke commented on #66
OSR2 is supported in Intiface but is [known to have bugs](https://discord.com/channels/353303527587708932/453328145857118220/896325396889477131).
I can't help you with that as I'm not a maintainer of Intiface. Try asking around on the Buttplug discord.

[2021-10-21 00:50] #66 closed, assigned to nobody

[2021-11-07 01:56] Sauceke opened #68 "Drawing device list sometimes fails"
[Error  :Configuration Manager] Failed to draw setting Connected - System.ArgumentException: Getting control 3's position in a group with only 3 controls when doing repaint
Aborting
  at UnityEngine.GUILayoutGroup.GetNext () [0x0009b] in <a0bccd5fb00b424ba4b8f758e660f824>:0
  at UnityEngine.GUILayoutUtility.DoGetRect (System.Single minWidth, System.Single maxWidth, System.Single minHeight, System.

[2021-11-07 02:22] Sauceke opened #69 "Coroutine starvation while Settings is open"
KKS, HS2: coroutines are completely ignored after the first yield, only get resumed after Settings is closed
KK: coroutines continue running but delays are ~1s longer than specified in WaitForSeconds

[2021-11-07 12:33] Velasa opened #70 "Koikatsu Darkness"
Oddly I can't get Darkness to function with this setup, I've tried adjusting settings with no luck. Sadly I've tried to research the issue but Google isn't turning anything up.

[2021-11-07 13:09] Sauceke commented on #70
Hi, please attach your output_log.txt after doing a gameplay that reproduces the issue.

[2021-11-08 10:26] EEstyle-eu opened #71 "Is there support for these games?"
Koikatsu Sunshine (can't test VR patch as it's not released yet)   ------ something has changed ?
Koikatsu  Party (illusion) -----is there any support?
PlayHome (illusion)  ----- is there any support?

thx.

[2021-11-08 11:09] Sauceke commented on #71
Koikatsu Sunshine: the plugin works in VR, forgot to update readme
Koikatsu Party: yes, the Koikatsu version also works in Koikatsu Party
PlayHome: no support at the moment

[2021-11-08 23:21] #71 closed, assigned to nobody

[2021-11-09 12:19] #69 closed, assigned to nobody

[2021-11-09 15:51] #68 closed, assigned to nobody

[2021-11-10 00:22] Velasa commented on #70
[output_log.txt](https://github.com/Sauceke/BepInEx.LoveMachine/files/7508858/output_log.txt)
Howdy, really sorry for the delay. I don't get a lot of freetime these days. Attached as requested.

[2021-11-10 21:59] Sauceke commented on #70
Sorry for the inconvenience but could you repeat it with [this modified version](https://github.com/Sauceke/BepInEx.LoveMachine/suites/4318554715/artifacts/112940140)?
I added some extra logging because nothing out of the ordinary was indicated in your logs.

[2021-11-11 00:16] Sauceke commented on #70
Forgot to mention, please also set both UnityLogListening and WriteUnityLog to Enabled. You can find these settings in Plugin Settings > BepInEx.

[2021-11-11 03:28] Velasa commented on #70
[output_log.txt](https://github.com/Sauceke/BepInEx.LoveMachine/files/7517497/output_log.txt)
I put the modified files in and ran it again.

[2021-11-11 15:37] #70 closed, assigned to nobody

[2021-11-11 15:39] Sauceke commented on #70
This is now fixed, and the fix will be included in the next release.

[2021-11-12 14:13] Sauceke opened #76 "Device specific settings"
Move down to device level:
- [ ] all stroker settings
- [ ] all vibrator settings
- [ ] all rotator settings

Also:
- [ ] show disconnected devices too

[2021-11-14 13:34] Sauceke commented on #71
@EEstyle-eu and now it also supports PlayHome
it was ez

[2021-12-05 17:17] EEstyle-eu opened #83 "How to set it up to After Service Gangbang Addicts"
How to set it up to After Service Gangbang Addicts ?
Where to install. Which folder?
And which file- LoveMachine_for_Houkago_Rinkan_Chuudoku.zip ? This

thx

[2021-12-05 20:55] Sauceke commented on #83
Updated installation instructions, please read here: https://github.com/Sauceke/BepInEx.LoveMachine/tree/mastur/doc#installation

[2021-12-13 13:56] #83 closed, assigned to nobody

[2022-01-02 10:53] superultraex opened #84 "LoveMachine does not work"
hi
I have made settings referring to the instructions, but it doesn't work.
The log shows several warnings.
Is there anything I should review in the settings?

thanks.

[LogOutput.log](https://github.com/Sauceke/BepInEx.LoveMachine/files/7798939/LogOutput.log)

[2022-01-02 14:50] Sauceke commented on #84
New version of Intiface has a bug where it sometimes fails to scan devices.
Go to Intiface > Devices > Connect to server and scan
Wait until your device appears on the list, then click Disconnect from server.
If it doesn't appear, restart the server and repeat the previous step.
Then start up the game and try again.

[2022-01-04 09:25] Sauceke commented on #84
Does this resolve your issue?

[2022-01-04 11:05] superultraex commented on #84
Thank you so much for reply.

Yes. This step worked fine for me.

[2022-01-04 11:05] #84 closed, assigned to nobody

[2022-01-12 15:08] ShinySolo opened #85 "Request: Honey Select 2 Studio NEO Support"
As per title, is it possible to add Studio NEO support to LoveMachine?

Many people use NEO to create custom scenes, it would be awesome if support was added.

[2022-01-17 11:37] RPKU opened #86 "Support for insult order and the new game of miconisomi"
Does it possible to support insult order of miconisomi and the new game they haven't released?

[2022-01-17 21:25] Sauceke commented on #86
Planning to do it eventually.

[2022-01-17 21:58] Sauceke commented on #85
It should be possible.

[2022-01-21 09:10] ShinySolo commented on #85
If you could find the time to include this support, it would be great. If not, then thank you anyway for Love Machine!

[2022-01-27 13:00] Sauceke commented on #86
I haven't done it yet :)

[2022-02-26 16:02] Sauceke opened #88 "Support for Summer In Heat"

[2022-02-26 16:06] Sauceke commented on #86
Insult Order added, moved Summer In Heat request to #88.
Closing this issue.

[2022-02-26 16:06] #86 closed, assigned to nobody

[2022-02-26 16:26] RPKU commented on #86
Great! Waiting for the release!

[2022-04-10 22:32] Sauceke opened #90 "Orgasm handling for strokers"
vibrate stroker when coom

[2022-04-20 17:34] youzoom64 opened #91 "About the matter that the cooperation with Calor does not go well"
It doesn't work
I'll put output_log.txt here
I would be grateful if you could tell me what is wrong.

[output_log.txt](https://github.com/Sauceke/LoveMachine/files/8523880/output_log.txt)

[2022-04-20 19:22] Sauceke commented on #91
Hi,
A number of things I'm interested in:
- What is the name of your device in your Bluetooth settings? Does it start with "LVS"?
- Did you turn it on before starting the game?
- Did it, at any point, stop blinking red?

[2022-04-20 21:51] youzoom64 commented on #91
I'm sorry, I reviewed my behavior from your question and it succeeded !
Thank you for your efforts, it's okay !

[2022-04-21 05:12] #91 closed, assigned to nobody

[2022-04-21 08:33] Sauceke commented on #91
Glad I could help and sorry about the severe lag. Let's hope a new firmware version will make it better.

[2022-04-21 17:37] #90 closed, assigned to nobody

[2022-04-23 02:48] RPKU opened #92 "The com3d2 mod seems not work with version 1.55-, maybe consider work out two version of the plugin?"
When I play animation the game always show me the error:

[Error  :LoveMachine] Coroutine failed with exception: System.NullReferenceException: Object reference not set to an instance of an object
  at LoveMachine.COM3D2.Com3d2ButtplugController.GetFemaleBones (Int32 girlIndex) [0x00000] in <filename unknown>:0
  at LoveMachine.Core.AnimationAnalyzer+<AnalyzeAnimation>d__16.MoveNext () [0x00000] i

[2022-04-23 03:09] Sauceke commented on #92
1.551 seems to be an older version rolled out in 2018 back when the game was still called Custom Maid 3D2.
Since it is a severely outdated version of the game, it is not expected to work with the plugin.
Given that I only own the latest version of the game, I am unable to make the plugin backwards compatible. Please consider upgrading to the latest version if possible.
Thank you for your understan

[2022-04-23 03:23] Sauceke commented on #92
I will leave this issue open just in case another developer wants to have a go at it.

[2022-04-23 11:20] RPKU commented on #92
I fixed it by refer to some mod, this may work fine with 1.55
`using System;
using System.Collections;
using System.Collections.Generic;
using System.Linq;
using LoveMachine.Core;
using UnityEngine;

namespace LoveMachine.COM3D2
{
    internal abstract class Com3d2ButtplugController : ButtplugController
    {
        private const string SpineF = "Bip01/Bip01 Spine/Bip01 Spine0a/" +

[2022-04-23 11:23] ghost commented on #92
I'm on 2.14.0 and got the same error messages. It turns out that using Maid Fiddler to unlock yotogi poses can cause the issue (amongst many other unrelated ones), as it worked swimmingly on an untampered save.
To produce the log file attached below, I queued up a 'first time insertion' missionary pose and an illegal 騎乗位 pose with a virgin maid and then started yotogi. Interestingly, even though t

[2022-04-23 11:26] RPKU commented on #92
Now I think this may cause by different types of body mod in COM3D2.

[2022-04-23 13:04] Sauceke commented on #92
@RPKU Rebuilt with your proposed changes, please check it against your version.
[LoveMachine_for_Custom_Order_Maid_3D_2.zip](https://github.com/Sauceke/LoveMachine/files/8546949/LoveMachine_for_Custom_Order_Maid_3D_2.zip)
chinko_nub is not a suitable male bone, it needs to be further towards the base of the penis (this is why I usually choose the scrotum).

[2022-04-23 13:45] RPKU commented on #92
This version works fine for me. In my opinion, COM3D2 has many different type of body, it is better to use recursion to find gameobject of the body.

[2022-04-23 13:48] Sauceke commented on #92
@RPKU The stroke syncing is out of phase in several animations, including tekoki (handjob) and seijyoui (missionary). Did you encounter the same issues in your version?

[2022-04-23 13:49] Sauceke commented on #92
@YuriseXYZ I'd be interested in your input on the above change as well. Please try to keep it to vanilla gameplay though. Supporting just the base game has proved to be enough of a hassle in itself for this game.

[2022-04-23 14:33] RPKU commented on #92
Yes, in the missionary the speed of the stroke is not stable and  out of syncing.

[2022-04-23 14:50] Sauceke commented on #92
@RPKU Please open a pull request with your changes, and I will make the further changes necessary to fix the issue.
Just paste the changed file [here](https://github.com/Sauceke/LoveMachine/edit/mastur/LoveMachine.COM3D2/Com3d2ButtplugController.cs), click "Propose changes", and make sure the "Allow edits by maintainers" box is checked.

[2022-04-23 17:43] ghost commented on #92
@Sauceke At slow speeds, it's like there's high latency (see paizuri below), while at faster speeds, it looks like it's moving opposite to what's on screen.
Tested with the Keon and OSR2 (TCode 3.0 or whatever in the logs).
Kijoui (cowgirl): the stroker moves upwards when the heroine moves downwards and vice versa. Not sure if it's perfectly reciprocating though. Same goes for grinding variants,
F

[2022-04-23 18:22] Sauceke commented on #92
@YuriseXYZ But most importantly, you're no longer getting errors about bones not being found. Most of the out of sync behavior you've documented here can be chalked up to RP's patch using the tip of the penis instead of the base as LoveMachine.Core expects, which of course turned most things upside down.
The pauses and jumps are probably artifacts of COM3D2 rewinding the animation every few second

[2022-04-25 14:45] RPKU commented on #92
I have complete the pull request. I keeps the path of the components this time.

[2022-04-25 16:01] Sauceke commented on #92
@RPKU I don't see any open pull requests. Did you click both "Propose changes" and "Create pull request" after uploading the file?

[2022-04-25 16:36] Sauceke commented on #92
Never mind, I found your branch and opened a PR from it. This will preserve authorship information.

[2022-04-26 12:47] Sauceke commented on #92
Did some refactoring and added threesome support. You can switch between first and second maid in Plugin Settings.
Also made the optimization suggested by @RPKU.
Should still work in older versions, please check.
[LoveMachine_for_Custom_Order_Maid_3D_2.zip](https://github.com/Sauceke/LoveMachine/files/8563214/LoveMachine_for_Custom_Order_Maid_3D_2.zip)

[2022-04-26 15:54] ghost commented on #92
@Sauceke @RPKU Good work guys. Here's what I've got after testing on version 2.14.0:

`asikoki_1_m` and `asikoki_3_m` don't move the stroker at all. (Follow up tests show something different later in the report)
`asikoki_2_m` is out of phase (it's as if the tip was taken as the male bone).

[code]
The idle poses are being analyzed if you stay idle long enough. I'm not sure what's going on with `Is

[2022-04-26 17:47] ghost opened #95 "[COM3D2] Emergency stop is not guaranteed to work in VR mode"
I don't recall this being an issue in the VR modes of the Illusion games (I'll double check that to make sure later). But yeah, I got the crap instead of coom beaten out of me by my device. Luckily, pulling the power plug always works.

From what I've tested so far (not that much), in order for any keyboard input including the emergency stop (and restart) button to work, you need to use your VR co

[2022-04-27 12:39] Sauceke commented on #92
@YuriseXYZ Thanks for the extensive testing!
This time I made sure to always use the shortest (in time) animation state as clock. I also added a longer waiting time before starting the analysis, to wait through the blending between animations.
[LoveMachine_for_Custom_Order_Maid_3D_2.zip](https://github.com/Sauceke/LoveMachine/files/8571995/LoveMachine_for_Custom_Order_Maid_3D_2.zip)
Hopefully this

[2022-04-28 16:46] ghost commented on #92
@Sauceke おつ！

The fix you made for the rewinding animation issues has a bug where it still pauses the animation, and also doesn't seem to affect the rewinding problem in some cases, where we instead see behavior similar to the last patch. More details below. I still logged matters of incorrect leading bones, but I'm pretty sure you haven't worked on that yet, so no biggie.

There appears to be mul

[2022-04-28 23:28] Sauceke commented on #92
@YuriseXYZ Thank you!

As for asikoki_2_m, I reassigned the foot bones from the calves to the toes, so this should take care of that (though the first few seconds are still out of sync for god knows what reason): [LoveMachine_for_Custom_Order_Maid_3D_2.zip](https://github.com/Sauceke/LoveMachine/files/8587029/LoveMachine_for_Custom_Order_Maid_3D_2.zip)

asikoki_3_m being slow is not surprising, th

[2022-04-29 00:18] ghost commented on #92
@Sauceke I'll do another once over in the next couple of days. I'm pretty sure om_taimenkijyoui_hatu_3_m is something similar, so it should be fine. I completely forgot about setting the bone manually, thanks for that.

[2022-05-02 16:44] ghost commented on #92
@Sauceke Just tested it on my usual version. Indeed, the positions that I've tested are synced nicely except for the ones with issues that we've already discussed. Either way, the missing bone problem is solved on my version. Nice work.

[2022-05-02 16:51] ghost opened #96 "Low frame rates cause sporadic stroker movement"
Low frame rates (below ~30, around ~20~ 10) where the animation is visibly skipping causes the stroker to move dangerously fast. Combining this with the performance hit and current lack of reliable emergency stop button in VR can cause some unpleasant surprises.

Again, I don't recall this being an issue in the Illusion games.

[2022-05-02 18:50] Sauceke commented on #92
@RPKU I'm assuming [this build](https://github.com/Sauceke/LoveMachine/files/8571995/LoveMachine_for_Custom_Order_Maid_3D_2.zip) works fine in 1.55 too? I changed two gameobject paths, I don't think it should break anything but who knows.

[2022-05-02 20:15] Sauceke commented on #96
I need some clarification on this. Are you saying the plugin is directly causing noticeable FPS drop in COM3D2? Or are you saying that when the FPS drops for unrelated reasons, the stroker starts misbehaving? If it's the first one, that calls for a ticket in its own right.

[2022-05-03 05:24] ghost commented on #96
I believe it's the second case, e.g. if you have a lower end graphics card, etc. The performance hit I was referring to was just the general comparison between the VR and desktop performance of the game itself. I wasn't clear about that.

[2022-05-07 19:35] Sauceke commented on #95
Was your bepinex console on? I noticed it steals focus from the game when it's on so you're typing into the console instead of the game.
I didn't see any correlation between where the tablet is and whether the kill switch works.

[2022-05-07 19:50] Sauceke commented on #96
I doubt this is specific to COM3D2 as we don't have anything in place that checks for dropped frames yet.

[2022-05-07 19:54] #92 closed, assigned to nobody

[2022-05-07 20:01] Sauceke commented on #92
@RPKU Thank you very much for your contribution. Please reopen this if issues with 1.55 arise again.
@YuriseXYZ Thank you for the thorough testing.

[2022-05-07 20:08] ghost commented on #95
Possibly. I'll check to make sure sometime in the next few days to see if that's the case.

[2022-05-07 20:10] ghost commented on #96
I'll test for this in the other games using my GT 710 (and/or by somehow limiting frame rate) and we'll see.

[2022-05-07 20:32] Sauceke commented on #96
No need, instead please post a log file from com3d2 when this happens, and the name of the animation where it happened. That's probably enough to find the exact cause.

[2022-05-07 22:54] ghost commented on #96
I remember it being the binaural handjob, binaural seated cowgirl and some other non-binaural one. It hasn't happened since the opening of this issue, so I can't blame it on the animations themselves. But yeah, I'll do that.

[2022-05-09 05:22] ghost commented on #95
~I disabled the console window but unfortunately the problem persists. It feels like the game is always losing focus in VR mode. I find that I need to click the mouse or press a button on the controller in order to get the emergency stop and start buttons to work for a window of a couple of seconds, after which the buttons don't work again.
Is that happening for you? If not, then it may be because

[2022-05-12 16:08] ghost commented on #95
Disabling console was the solution. Thanks.

[2022-05-12 16:08] #95 closed, assigned to nobody

[2022-06-20 15:59] CrispyBearcon opened #98 "Adding support for OSR2/SR6 T-Codes"
Hi,

sorry if its not allowed to use the issue feature for a feature request. If not wanted please delete or close.

I wanted to ask if its possible to add support for t-codes for OSR2/SR6 so it can do more than just "stroking" over intiface like it can do in Virt-A-Mate?

Thanks!

[2022-06-20 18:35] Sauceke commented on #98
Syncing in LM is based on distances, not coordinates. Also, AFAIK Buttplug doesn't support multi-axis movement yet. So it's way too early to even think about this. I'd say, ask me again in a year.

[2022-06-20 18:35] #98 closed, assigned to nobody

[2022-06-20 18:45] CrispyBearcon commented on #98
Hi,

thanks for the fast reply. i thought of direct sending commands over serial to osr2/sr6 and skip buttplug. But i guess that would mean a loooot of work.

[2022-06-23 19:53] #50 closed, assigned to Sauceke

[2022-07-03 20:55] Sauceke opened #99 "High resolution stroke syncing"
send a linear command every 0.1 second

[2022-07-03 20:57] Sauceke opened #100 "Alternative vibration patterns"
- [x] Triangle
- [x] Saw
- [x] Pulse
- [ ] ~Gradient~ skipping for now

[2022-07-03 21:04] Sauceke opened #101 "Detect bols shooting past target bones"

[2022-07-03 21:09] Sauceke opened #102 "Add dick vector (optional)"
- Helps guess leading bone more accurately
- Lays the groundwork for detecting lateral movement (OSR2 etc.)

[2022-07-03 21:10] Sauceke opened #103 "Start Intiface CLI with the plugin"

[2022-07-09 20:09] Sauceke opened #104 "AnalyzeAnimation firing multiple times on same girl"
https://github.com/Sauceke/LoveMachine/issues/92#issuecomment-1112432999

[2022-07-10 20:05] #99 closed, assigned to nobody

[2022-07-11 15:51] Sauceke opened #106 "Fix test buttons"
- [x] add vibrator test button
- [x] one test button per device
- [x] fix test buttons messing with other devices in same group

[2022-07-18 12:22] Sauceke commented on #76
Not doing it because
1. Buttplug doesn't provide a reliable device ID
2. The device name can't be used as an ID because A, it's not unique, and B, it's mutable (e.g. it changes when you set Allow Raw Messages to true)
3. Turns the config file into an unreadable mess of a JSON blob
4. People with only one device get no benefit from it
5. People with more than one device will be annoyed by it when t

[2022-07-18 12:22] #76 closed, assigned to nobody

[2022-07-18 16:18] Sauceke commented on #104
99% sure this is solved by 0e426a608339b2d27d0ca398641fbc35de25c5e6.

[2022-07-18 16:18] #104 closed, assigned to nobody

[2022-07-19 21:03] Sauceke commented on #101
For fuck's sake

[2022-07-19 21:03] #101 closed, assigned to nobody

[2022-07-19 23:47] Sauceke opened #107 "Add docs"

[2022-07-20 19:10] Sauceke commented on #31
you had one job github

[2022-07-20 19:10] #31 closed, assigned to nobody

[2022-07-20 19:11] #32 closed, assigned to nobody

[2022-07-21 18:40] #107 closed, assigned to nobody

[2022-07-22 13:08] Sauceke opened #108 "Device specific settings (attempt 2)"
- ~Change id to device index when buttplug-v6's static indexes come out.~ Stick with names, user can just rename them if uniqueness is important.
- Move only a few settings:
  - [x] latency
  - [x] updates/s
  - [x] max strokes/min
  - [x] stroke zones
  - [x] smooth stroking
  - [x] vibration range
  - [x] vibration waveform
  - [ ] ~the two rotator settings (maybe?)~ nah

[2022-07-23 19:14] #106 closed, assigned to nobody

[2022-08-03 10:08] #100 closed, assigned to nobody

[2022-08-08 20:43] #108 closed, assigned to nobody

[2022-08-09 21:00] Sauceke commented on #102
Putting this off until there is any practical use for it.

[2022-08-09 21:02] Sauceke commented on #103
The binary is a bit too big, working with the existing installation instead.

[2022-08-09 21:07] #103 closed, assigned to nobody

[2022-08-09 21:32] Sauceke opened #110 "Intiface-cli stdout redirect problem"
App exits with code -1 when redirecting stdout to parent process.

[2022-08-11 18:43] #96 closed, assigned to nobody

[2022-08-31 17:55] Man222222 opened #114 "honey select 2 problem"
hi Sauceke

i have problem during i playing honey select 2 (dlsite.com digital version) with love machine and a10 cyclone

i think i did everything correct, i can test a10 cyclone in game plugin option normally, but it doesn't work during the h scene.
Also i read the game console log, love machine can analyse every move action, but my cyclone still not active, what is the problem?

i can copy my g

[2022-08-31 19:24] Sauceke commented on #114
Yes, I'd like to see your log file please.

[2022-10-15 12:39] deleniti opened #117 "LoveMachine detected as malware"
Opening up this issue since the author hasn't mentioned it yet.

Currently, a virus total scan of the setup file shows 2/70 detections, where you can find a lot of weird behaviors. To give some examples, the program seems to have the ability to detect if you're running it in a virtual environment, interact with startup folder/registry and drop executables in the recycle bin.

I apologize if I seem

[2022-10-15 14:32] Sauceke commented on #117
I assume by "the program" you mean the installer. Can you attach the full list?
As to the ones you mentioned:

We're not checking for that, at least not consciously. Could be something Inno Setup does by default. Needs more investigation.

We read from the registry to get the install locations of supported games, to make installation easier. We never write to the registry.
https://github.com/Sauce

[2022-10-15 14:56] Sauceke commented on #117
As an aside, if this is preventing you personally from installing the mod, you could try installing it from the ZIP files provided in the release page. And if even the ZIP files are marked as malicious, I definitely want to know about it.
If even that sounds risky, you can also build it directly from the source code after making sure it's safe to run, assuming you know C#.

[2022-10-17 22:08] Sauceke commented on #117
Version 3.1.0 passes with 0/71 detections on VirusTotal. (Took me a while to realize "virus total" is the name of a website.)
https://www.virustotal.com/gui/file/106a68aa522ad6e71ce45d3fde5ed432120ffa79231e6770f003abd3314b2e58
The things I changed:
- the installer no longer asks for admin elevation
- it no longer uses the Recycle Bin as a target path

I'll add an automated virus scan job to the re

[2022-10-17 22:08] #117 closed, assigned to nobody

[2022-10-17 22:15] Sauceke opened #118 "Add virus scan job to release workflow"
https://github.com/marketplace/actions/virustotal-github-action

[2022-10-18 20:27] #118 closed, assigned to nobody

[2022-11-03 09:06] Jibbleibble opened #119 "Windows 11"
BepInEx Does not support windows 11

[2022-11-03 14:14] Sauceke commented on #119
Do you see either of these files?
- `output_log.txt` in the game folder
- `LogOutput.log` in the BepInEx folder inside the game folder

If you do, can you attach them please.

[2022-11-06 05:39] Guybrush101 opened #120 "Windows 10 not launching"
I cant seem to get lovemachine working.
I install lovemachine and add our apartment.
i run intiface - connect toy - hit disconnect
run our appartment and i run the game and nothing happens.

when i look up lovemachine in my applications its just a broken redirect. also in appdata lovemachine only shows an uninstaller.
am i missing something?

[2022-11-06 09:22] Sauceke commented on #120
Do you have the latest version of Our Apartment (0.3.1)?
If you do and it still doesn't work, please attach the `BepInEx\LogOutput.log` file so I can see what's going on.

[2022-11-06 20:01] Guybrush101 commented on #120
I believe its .28a. i just bought the game from their site. so it should be the latest
[LogOutput.log](https://github.com/Sauceke/LoveMachine/files/9946733/LogOutput.log)

also ty for helping

[2022-11-07 00:31] Sauceke commented on #120
Ah crap. They didn't release 0.3 on itch.io yet, it's a patrons only build.
Well, until they do, you can use [lovemachine 2](https://github.com/Sauceke/LoveMachine/releases/tag/v2.10.0) with 0.2.8.a, but the smooth stroking feature will be missing.
Meanwhile I'll change the link to their patreon so as not to confuse people. It's cheaper to get it from there anyway.

[2022-11-07 17:59] PotatoDaze opened #121 "Max Strokes (per minute) not available in 3.2.0 Koikatsu"
I was wondering if I broke something, the Max Strokes (per minute) feature does not seem to be available in 3.2.0 in my Koikatsu Party. I use Koikatsu Better Repack Release RX15 // 15.08.2022
<img width="320" alt="21117c0817fbea2c26551036cc39832e" src="https://user-images.githubusercontent.com/117675524/200381697-d9eace2c-df5c-47ad-8196-972525d67b26.png">

[2022-11-07 18:47] Sauceke commented on #121
You can set it for each device now, by either connecting it or clicking Show Offline Devices.
Also note that from v3 on this setting won't slow down animations due to compatibility issues with other mods. It is now only used for switching between stroke zones.

[2022-11-07 19:16] PotatoDaze commented on #121
Found it thanks! Sad that it no longer slows down animations though, that was my favorite feature! But understandable how it would conflict with some other stuff. Thanks alot for the help!

[2022-11-07 20:38] Sauceke commented on #121
I could make a separate mod to change the timeScale, with roughly the same effect (though I'm pretty sure someone's already made one). Slowing things based on device capabilities is problematic in many ways.
Anyway, glad I could help, and if you found this project useful, please give it a ⭐.

[2022-11-07 20:38] #121 closed, assigned to nobody

[2022-11-08 21:38] #120 closed, assigned to nobody

[2022-11-10 01:15] Craxter1177 opened #122 "Adding support for NOR"
Hey just asking if there is any way you could add support for Night of Revenge?

[2022-11-10 01:42] Sauceke commented on #122
Looks like a 2D game to me. Are the H scenes 2D too?

[2022-11-10 01:43] Craxter1177 commented on #122
Ohhh... yeah i think so damn

[2022-11-12 17:22] Sauceke commented on #122
You're not the first to have asked for 2D game support. 😅 At this point all I can say is, it might be a feature one day, but I'd need to do a _lot_ of research to pull it off. It's not just "3D minus 1" unfortunately. 2D drawings don't even have a body structure to begin with.
Sorry to disappoint you. If you still find this plugin useful regardless, please star it so others with similar interests

[2022-11-12 17:22] #122 closed, assigned to nobody

[2022-11-13 11:05] Sauceke commented on #119
Windows 11 isn't the issue here, I tested the plugin on a Windows 11 machine and it ran perfectly.
Either your BepInEx installation is broken or something is conflicting with it. I recommend installing the latest [HF patch](https://www.patreon.com/posts/46339224) if you haven't already, as it will find and fix most such problems automatically. You can also install LoveMachine from the HF patch ins

[2022-11-26 19:35] Unprogress opened #124 "Support for Secrossphere possible?"

[2022-11-29 10:21] Sauceke commented on #124
I can't even find a working download link for this game so ¯\\_ (ツ)_/¯

[2022-11-29 10:41] Unprogress commented on #124
Uff alright , yeah the game is a bit older :) thank you for the answer though. Not sure if I got it from good old hf back when it was alive.

Am Dienstag, 29. November 2022 um 11:22, Sauceke ***@***.***> schrieb:

[2022-11-29 11:01] Sauceke commented on #124
If you want to upload your own copy, I'll give it a look, otherwise I'm afraid there's not much I can do.

[2022-11-29 11:05] Unprogress commented on #124
Sure, i can do that. Since i do not know the rules of github about linksharing , would twitter be fine? :)

[2022-11-29 11:06] Sauceke commented on #124
Yes.

[2022-11-29 11:38] Sauceke commented on #124
Yeah, looks pretty straightforward. Can probably add it in the next release or the one after.
Thanks for the suggestion, and if you find this project useful, please give it a ⭐.

[2022-11-29 11:41] Unprogress commented on #124
Very cool! :) Thanks for taking the time to look into it.